#modal {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px !important;
}


/*=======================
	BODY & CONTAINER
=========================*/

body {
    background: linear-gradient(180deg, #FEC5C5 43.75%, rgba(240, 198, 198, 0) 100%), #FFFFFF;
    background-attachment: fixed;
}

.container {
    max-width: 1100px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 50px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 470px;
    border-radius: 5px;
    background: linear-gradient(135deg, #e67571, #9b59b6);
}


/*=======================
	FORM
=========================*/

form .button {
    height: 45px;
    margin: 35px 0
}

/*=======================
	MENU
=========================*/

#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( 329.54deg, #D95353 0%, rgba(214, 21, 79, 0.97) 100%);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

button.open-nav {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

a.menu-button {
    margin-top: 40px;
    color: #fff;
    text-decoration: none;
    background: #BBB3C2;
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Nunito";
    width: 220px;
    font-size: 13px;
}

a.menu-button:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 12px #6a6464;
    transition: 0.3s;
}

a.closebtn {
    align-self: flex-end;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-family: sans-serif;
}

a.closebtn:hover {
    text-decoration: none;
    color: #fff;
}


/*=======================
	BUTTONS
=========================*/

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button > .btn-save {
    align-self: flex-end;
    border: none;
    background: #970D0D;
    color: #fff;
    width: 120px;
    padding: 5px;
    border-radius: 120px;
    cursor: pointer;
    font-size: 50px;
}


/*=======================
MEDIA QUERIES
=========================*/

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    .container .content .title {
        margin-left: 5px;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        margin-right: 10px;
        width: 100%;
    }
    form .user-details .input-box input {
        margin-bottom: 15px;
        min-width: 81vw;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 200vh;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
    form #subject {
        height: 40vw;
        min-width: 81vw;
    }
    body{
        background:#ffffff;
    }
    .container{
        box-shadow:#ffffff;
    }
}

@media only screen and (max-width: 602px) {
    input {
        width: auto !important;
    }
    span.end-span>input {
        margin-left: 0;
    }
    input.uf-end {
        margin-top: 20px;
    }
    form .user-details .row {
        width: calc(100% - 20px);
    }
    body{
        background:#ffffff;
    }
    .container{
        box-shadow:#ffffff;
    }
}

@media only screen and (max-width: 380px) {}

@media(max-width: 459px) {
    .container {
        margin-top: 30px;
    }
    .container .content .category {
        flex-direction: column;
    }
    body{
        background:#ffffff;
    }
    .container{
        box-shadow:#ffffff;
    }
}