@font-face {
    font-family: "Gurajada";
    src: url("../fonts/Gurajada-Regular.ttf");
}

body {
    background: linear-gradient(114.69deg, rgba(255, 250, 250, 0) 9.57%, #F4D5D5 85.14%);
}

.main-section>.main-text>h1 {
    font-family: 'Nunito', sans-serif;
    color: #AF2C2C;
    font-size: 40px;
}

.main-section>.main-text>h2 {
    font-family: 'Gurajada', sans-serif;
    font-size: 30px;
}

section.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main-text {
    text-align: center;
}

img {
    width: 750px;
    height: 750px;
}

.footer-controls>h3 {
    font-family: 'Pacifico', cursive;
}

.div-buttons>a {
    color: #fff;
    background: #d95353;
    padding: 13px;
    margin-right: 20px;
    border-radius: 120px;
    border-right: 5px solid #9c69e2;
    text-decoration: none !important;
    transition: 0.3s;
}

.div-buttons {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
}

.div-buttons>a:hover {
    color: #fff;
}

.footer-controls {
    text-align: center;
}