/*=======================
BODY & CONTAINER
=========================*/

body {
    background: linear-gradient(180deg, #FEC5C5 43.75%, rgba(240, 198, 198, 0) 100%), #FFFFFF;
    background-attachment: fixed;
    margin: 0;
}

#page-map {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
    display: flex;
}

#page-map aside {
    width: 400px;
    background: linear-gradient(180deg, #FEC5C5 43.75%, rgba(240, 198, 198, 0) 100%), #fae1e1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 5vh;
}

#page-map aside p {
    line-height: 28px;
    margin-top: 64px;
    font-family: "Nunito";
}

#page-map aside footer {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
}

div.content {
    margin: 0 auto;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('../img/marker-map.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


/*=======================
	MENU
=========================*/


/* Comportamento normal Desktop */

.Menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cabecalho {
    background: linear-gradient(180deg, #f3c3c3, rgba(240, 128, 128, 0) 100%) #db6d6d 43.75%;
    display: flex;
    flex-wrap: wrap;
    /* se não couber quebra linha*/
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.Menu {
    display: flex;
}

.Menu li {
    margin: 10px;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}


/* Menu moble */

.input-group {
    max-width: 200px;
}

#menu-moble {
    display: none;
    position: fixed;
}

#label-menu {
    display: none;
}


/* Fim Menu moble */


/*=======================
	BUTTONS
=========================*/

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-group .btn-form {
    align-self: flex-end;
    border: none;
    background: #970D0D;
    color: #fff;
    width: 100px;
    padding: 5px;
    border-radius: 120px;
    cursor: pointer;
}

.form-group .btn-form:hover {
    align-self: flex-end;
    border: none;
    background: #f84a58;
    color: #fff;
    width: 100px;
    padding: 5px;
    border-radius: 120px;
    cursor: pointer;
}


/*=======================
MEDIA QUERIES
=========================*/

@media screen and (max-width: 800px) {
    #page-map {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #page-map aside {
        min-width: 100vw;
        top: 0;
        height: 30vh;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #page-map aside h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    #page-map aside .open-nav {
        width: 5rem;
    }
    #page-map aside p {
        display: none;
    }
    #page-map aside footer {
        display: none;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    #page-map aside h2 {
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    .container .content .title {
        margin-left: 5px;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        margin-right: 10px;
        width: 100%;
    }
    form .user-details .input-box input {
        margin-bottom: 15px;
        min-width: 81vw;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 270vh;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
    form #subject {
        height: 40vw;
        min-width: 81vw;
    }
}

@media only screen and (max-width: 602px) {
    input {
        width: auto !important;
    }
    label.end-label>input {
        margin-left: 0;
    }
    input.uf-end {
        margin-top: 20px;
    }
    form .user-details .row {
        width: calc(100% - 20px);
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    table tbody {
        display: table;
        width: 100%;
    }
    #msg {
        display: none;
    }
}

@media only screen and (max-width: 380px) {}

@media(max-width: 459px) {
    .container {
        margin-top: 30px;
    }
    .container .content .category {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1998px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    table tbody {
        display: table;
        width: 100%;
    }
    th,
    td {
        min-width: 250px;
    }
}


/* Menu*/

@media screen and (max-width: 768px) {
    .cabecalho {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 999;
        /*sobrepor*/
    }
    .cabecalho nav {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .Menu {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        /* altura 0 assuma a posição incial dele, 100% ocupa toda a página*/
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
    .Menu li {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
        z-index: 999;
        /*sobrepor*/
    }
    .Menu li a {
        display: block;
        text-align: center;
        width: 100%;
        z-index: 999;
        /*sobrepor*/
    }
    #buttonPesq {
        display: none;
    }
    #label-menu {
        width: 50px;
        height: inherit;
        /* sem comprimento definido */
        display: block;
        position: absolute;
        top: 15px;
        /*mandando pro topo*/
        right: 60px;
        /*mandando pra direira*/
        line-height: 60px;
        /*largura da linha pra descer um pouco*/
        color: white;
        z-index: 999;
        /*sobrepor*/
    }
    #menu-moble:checked~label i:nth-child(2) {
        display: block;
    }
    #menu-moble:checked~label i:first-child {
        display: none;
    }
    #menu-moble:not(:checked)~label i:first-child {
        display: block;
    }
    #menu-moble:not(:checked)~label i:nth-child(2) {
        display: none;
    }
    #menu-moble:checked~ul {
        height: 100%;
    }
}