#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
329.54deg, #D95353 0%, rgba(214, 21, 79, 0.97) 100%);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body {
    background: linear-gradient(180deg, #FEC5C5 43.75%, rgba(240, 198, 198, 0) 100%), #FFFFFF;
    background-attachment: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > h1 {
    font-size: 50px;
    margin-bottom: 3em;
    border-radius: 360px;
    color: #970D0D;
    font-family: sans-serif;
}

.main > .sos-button {
    background: linear-gradient(140.91deg, #FF0000 4.79%, #483A3A 90.74%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 360px;
    width: 320px;
    height: 320px;
    align-self: center;
}

.sos-button > a {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-family: Arial;
}

button.backward-button {
    align-self: flex-end;
    outline: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

button.open-nav {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

a.menu-button {
    margin-top: 40px;
    color: #fff;
    text-decoration: none;
    background: #BBB3C2;
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Nunito";
    width: 220px;
    font-size: 13px;
}

a.closebtn {
    align-self: flex-end;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-family: sans-serif;
}

a.menu-button:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 12px #6a6464;
    transition: 0.3s;
}

a.closebtn:hover {
    text-decoration: none;
    color: #fff;
}

.sos-button > a:hover {
    text-decoration: none;
    color: #fff;
}

.main > .sos-button:hover {
    box-shadow: 0 2px 20px;
    cursor: pointer;
}

#modal {
    display: none;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px !important;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-align: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito';
}

@media only screen and (max-width: 425px) { 
    .main > .sos-button {
        width: 200px;
        height: 200px;
    }
}